<template>
  <div class="container" id="container">
    <div class="white-text join">JOIN US</div>

    <div class="hexagon" id="hexagon">
      <div class="hexagon-line-1" id="hexline1"></div>
      <div class="hexagon-line-2" id="hexline2"></div>
      <div class="hexagon-line-3" id="hexline3"></div>
      <div class="hexagon-line-4" id="hexline4"></div>
      <div class="hexagon-line-5" id="hexline5"></div>
      <div class="hexagon-line-6" id="hexline6"></div>
    </div>

    <div class="hexagon-text-front" id="front">
      <IconFront/>
    </div>
    <div class="hexagon-text-end" id="end">
      <IconEnd/>
    </div>
    <div class="hexagon-text-engineer" id="engineer">
      <IconEngineer/>
    </div>
    <div class="hexagon-text-new" id="nieuw">
      <IconNew/>
    </div>
    <div class="hexagon-text-position" id="position">
      <IconPosition/>
    </div>

    <div class="white-text apply">APPLY TODAY</div>
  </div>
</template>

<script>
import IconHexagon from "~/assets/svg/Hexagon.svg?inline";
import IconFront from "~/assets/svg/Front.svg?inline";
import IconEnd from "~/assets/svg/End.svg?inline";
import IconEngineer from "~/assets/svg/Engineer.svg?inline";
import IconNew from "~/assets/svg/New.svg?inline";
import IconPosition from "~/assets/svg/Position.svg?inline";
import Matter from 'matter-js'
import gsap from "gsap";
import {Physics2DPlugin} from "gsap/Physics2DPlugin";

export default {
  name: "Hexagon",

  components: {
    IconHexagon,
    IconFront,
    IconEnd,
    IconEngineer,
    IconNew,
    IconPosition,
  },

  mounted() {
    const engine = Matter.Engine.create(document.getElementById('container'));
    const box1 = {
      body: Matter.Bodies.rectangle(700, 500, 466, 115, {inertia: Infinity}),
      elem: document.querySelector("#position"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y - 20}px`;
        this.elem.style.left = `${x - 20}px`;
        this.elem.style.transform = `rotate(${this.body.angle}rad)`;
      },
    };
    const box2 = {
      body: Matter.Bodies.rectangle(700, 400, 292, 100, {inertia: Infinity}),
      elem: document.querySelector("#nieuw"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y - 20}px`;
        this.elem.style.left = `${x - 20}px`;
        this.elem.style.transform = `rotate(${this.body.angle}rad)`;
      },
    };

    const box3 = {
      body: Matter.Bodies.rectangle(700, 300, 446, 140, {inertia: Infinity}),
      elem: document.querySelector("#engineer"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y - 20}px`;
        this.elem.style.left = `${x - 20}px`;
        this.elem.style.transform = `rotate(${this.body.angle}rad)`;
      },
    };
    const box4 = {
      body: Matter.Bodies.rectangle(1000, 200, 224, 98, {inertia: Infinity}),
      elem: document.querySelector("#end"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y - 20}px`;
        this.elem.style.left = `${x - 20}px`;
        this.elem.style.transform = `rotate(${this.body.angle}rad)`;
      },
    };

    const box5 = {
      body: Matter.Bodies.rectangle(900, 100, 336, 100, {inertia: Infinity}),
      elem: document.querySelector("#front"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y - 20}px`;
        this.elem.style.left = `${x - 20}px`;
        this.elem.style.transform = `rotate(${this.body.angle}rad)`;
      },
    };

    const line1 = {
      body: Matter.Bodies.rectangle(382, 390, 3, 500),
      elem: document.querySelector("#hexline1"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y}px`;
        this.elem.style.left = `${x}px`;
        this.elem.style.transform = `rotate(${this.body.angle}rad)`;
      },
    };

    const line2 = {
      body: Matter.Bodies.rectangle(597, 6, 3, 500),
      elem: document.querySelector("#hexline2"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y}px`;
        this.elem.style.left = `${x}px`;
        this.elem.style.transform = `rotate(${1.0472}rad)`;
      },
    };
    const line3 = {
      body: Matter.Bodies.rectangle(597, 764, 3, 500),
      elem: document.querySelector("#hexline3"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y}px`;
        this.elem.style.left = `${x}px`;
        this.elem.style.transform = `rotate(${-1.0472}rad)`;
      },
    };

    const line4 = {
      body: Matter.Bodies.rectangle(1246, 390, 3, 500),
      elem: document.querySelector("#hexline4"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y}px`;
        this.elem.style.left = `${x}px`;
        this.elem.style.transform = `rotate(${this.body.angle}rad)`;
      },
    };

    const line5 = {
      body: Matter.Bodies.rectangle(1030, 764, 3, 500),
      elem: document.querySelector("#hexline5"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y}px`;
        this.elem.style.left = `${x}px`;
        this.elem.style.transform = `rotate(${1.0472}rad)`;
      },
    };

    const line6 = {
      body: Matter.Bodies.rectangle(1030, 6, 3, 500),
      elem: document.querySelector("#hexline6"),
      render: function () {
        const {x, y} = this.body.position;
        this.elem.style.top = `${y}px`;
        this.elem.style.left = `${x}px`;
        this.elem.style.transform = `rotate(${-1.0472}rad)`;
      },
    };

    const ground = Matter.Bodies.rectangle(
      500, 1100, 12200, 100, {isStatic: true, fill: 'red'}
    );


    Matter.Body.rotate(line2.body, 1.0472);
    Matter.Body.rotate(line3.body, -1.0472);
    Matter.Body.rotate(line5.body, 1.0472);
    Matter.Body.rotate(line6.body, -1.0472);

    const hexagon = Matter.Body.create({
      parts: [line1.body, line2.body, line3.body, line4.body, line5.body, line6.body],
      isStatic: true,
      rotationSpeed: 5,
    })


    Matter.World.add(
      engine.world, [box5.body, box4.body, box3.body, box2.body, box1.body, hexagon, ground]
    );

    (function rerender() {
      // line1.render();
      // line2.render();
      // line3.render();
      // line4.render();
      // line5.render();
      // line6.render();
      box5.render();
      box4.render();
      box3.render();
      box2.render();
      box1.render();
      Matter.Engine.update(engine);
      requestAnimationFrame(rerender);
    })();

    function updateRotation(){
      Matter.Body.setAngle(hexagon, hexagon.angle + hexagon.rotationSpeed);
      requestAnimationFrame(updateRotation);
    }

    window.requestAnimationFrame(updateRotation);

    gsap.to(".hexagon",{
      rotation: 360,
      duration: 5,
      repeat: -1,
      ease: "none"
    })
  },

  methods: {
    intersects(a, b) {
      return (!b.left > a.right || b.right < a.left || b.top > a.bottom || b.bottom < a.top);
    },

    // checkCollision(){
    //   let hexagon = document.getElementById("hexagon");
    //   let position = document.getElementById("position");
    //
    //   let hexaRect = hexagon.getBoundingClientRect();
    //   let posRect = position.getBoundingClientRect();
    //
    //   if(!this.intersects(hexaRect, posRect)) {
    //     console.log("werkt")
    //     gsap.to('.hexagon-text-position', {
    //       physics2D: {
    //         gravity: 300,
    //         velocity: Math.random(),
    //         angle: Math.random(),
    //       },
    //     })
    //   }
    // },
  },
};
</script>

<style>
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 1080px;
  height: 1080px;
  background: darkblue;
}

.white-text {
  color: white;
  font-size: 2rem;
}

.join {
  margin: 2vw 3vw auto auto;
  display: flex;
  flex-direction: column;
  max-width: 2vw;
}

.apply {
  margin: auto auto 2vw 2vw;
  display: flex;
  flex-direction: column;
  max-width: 2vw;
}

.hexagon {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  width: 100%;
}

.hexagon-line-1 {
  position: absolute;
  height: 500px;
  width: 3px;
  background-color: #dbc3c3;
  top: 27.3%;
  left: 28.6%;
}

.hexagon-line-2 {
  position: absolute;
  height: 500px;
  width: 3px;
  background-color: #dbc3c3;
  transform: rotate(1.0472rad);
  top: -8%;
  left: 39.2%;
}

.hexagon-line-3 {
  position: absolute;
  height: 500px;
  width: 3px;
  background-color: #dbc3c3;
  transform: rotate(-1.0472rad);
  top: 62.5%;
  left: 39.2%;
}

.hexagon-line-4 {
  position: absolute;
  height: 500px;
  width: 3px;
  background-color: #dbc3c3;
  top: 27.3%;
  right: 28.6%;
}

.hexagon-line-5 {
  position: absolute;
  height: 500px;
  width: 3px;
  background-color: #dbc3c3;
  transform: rotate(1.0472rad);
  right: 39.2%;
  top: 62.5%;
}

.hexagon-line-6 {
  position: absolute;
  height: 500px;
  width: 3px;
  background-color: #dbc3c3;
  transform: rotate(-1.0472rad);
  top: -8%;
  right: 39.2%;
}

.hexagon-text-front {
  position: absolute;
  width: 21rem;
//margin-right: 36rem; //margin-bottom: 19rem; //transform: rotate(-40deg);
}

.hexagon-text-end {
  position: absolute;
  width: 14rem;
//margin-bottom: 26rem; //margin-right: 6rem; //transform: rotate(70deg);
}

.hexagon-text-engineer {
  position: absolute;
  width: 36rem;
//margin-top: 1rem; //margin-left: 15rem; //transform: rotate(3deg);
}

.hexagon-text-new {
  position: absolute;
  width: 17rem;
//margin-top: 18rem; //margin-right: 12rem; //transform: rotate(3deg);
}

.hexagon-text-position {
  position: absolute;
  width: 36rem;
//margin-top: 30rem; //margin-left: 13rem; //transform: rotate(-20deg);
}
</style>
